<html>
    <head>
      <title></title>
      <link  href="{{url_for('static', filename='Disney_intro.mp4')}}">
      <link  href="{{url_for('static', filename='Disney_intro.ogg')}}">
      <image  src="{{url_for('static', filename='images/Disneycastle.png')}}">
      <image  src="{{url_for('static', filename='images/Disney_Princesses.png')}}">
      <image  src="{{url_for('static', filename='images/Princess_Room.png')}}">

      <image  src="{{url_for('static', filename='../static/C_image/Aladdin.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Alice.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Anna.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Ariel.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Aurora.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Beast.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Belle.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Cinderella.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Elsa.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Flynn_Rider.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Hercules.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Jasmine.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Kristoff.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Li_Shang.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Merida.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Moana.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Mulan.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Peter_Pan.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Prince_Charming.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Pocahontas.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Rapunzel.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Raya.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Snow_White.png')}}"></image>
      <image  src="{{url_for('static', filename='../static/C_image/Tiana.png')}}"></image>

      

    </head>
    <body>
      <a href="/Disney">Home Page</a>
      <a href="/Character_Test">Character Test</a>
       {% block content %}
       {% endblock %}
    </body>
</html>