{% block content %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div>
  <ul class="ontop">
      <li class="top"><a href="/Disney">Home Page</a></li>
      <li class="top"><a href="/Character_Test">Character Test</a></li>
      <li class="top"><a href="/image_check">Image check</a></li>
      <li class="top"><a href="/Disney_search">Disney Search</a></li>
      <li class="top"><a href="/paintingroom">Color Magic</a></li>
      <li class="top">Pulzze game</li>
  </ul>
  </div>

</head>
<body>
<br>
<br>
<br>



<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Aladdin')" id="defaultOpen">Aladdin</button>
  <button class="tablinks" onclick="openCity(event, 'Alice')">Alice</button>
  <button class="tablinks" onclick="openCity(event, 'Anna')">Anna</button>
  <button class="tablinks" onclick="openCity(event, 'Ariel')">Ariel</button>
  <button class="tablinks" onclick="openCity(event, 'Aurora')">Aurora</button>
  <button class="tablinks" onclick="openCity(event, 'Beast')">Beast</button>
  <button class="tablinks" onclick="openCity(event, 'Belle')">Belle</button>
  <button class="tablinks" onclick="openCity(event, 'Cinderella')">Cinderella</button>
  <button class="tablinks" onclick="openCity(event, 'Elsa')">Elsa</button>
  <button class="tablinks" onclick="openCity(event, 'Eric')">Eric</button>
  <button class="tablinks" onclick="openCity(event, 'Flynn Rider')">Flynn Rider</button>
  <button class="tablinks" onclick="openCity(event, 'Hercules')">Hercules</button>
  <button class="tablinks" onclick="openCity(event, 'Jasmine')">Jasmine</button>
  <button class="tablinks" onclick="openCity(event, 'Kristoff')">Kristoff</button>
  <button class="tablinks" onclick="openCity(event, 'Li Shang')">Li Shang</button>
  <button class="tablinks" onclick="openCity(event, 'Merida')">Merida</button>
  <button class="tablinks" onclick="openCity(event, 'Moana')">Moana</button>
  <button class="tablinks" onclick="openCity(event, 'Mulan')">Mulan</button>
  <button class="tablinks" onclick="openCity(event, 'Perter Pan')">Perter Pan</button>
  <button class="tablinks" onclick="openCity(event, 'Prince Charming')">Prince Charming</button>
  <button class="tablinks" onclick="openCity(event, 'Pocahontas')">Pocahontas</button>
  <button class="tablinks" onclick="openCity(event, 'Rapunzel')">Rapunzel</button>
  <button class="tablinks" onclick="openCity(event, 'Raya')">Raya</button>
  <button class="tablinks" onclick="openCity(event, 'Snow White')">Snow White</button>
  <button class="tablinks" onclick="openCity(event, 'Tiana')">Tiana</button>
</div>


<div id="Aladdin" class="tabcontent">
  <h1>Aladdin</h1>
  <img src="C_image/Aladdin.png" alt="Aladdin" width="150" height="280" align= "right" style="margin-top:0px">
  <p>Aladdin is clever and kind, but insecure. Aladdin might not be rich, but he has more than enough heart to make up for it.
      <li>Hight/cm: 175cm~179cm</li>
      <li>Zodiac Signs: Gemini</li>
      <li> Eyes Color: Black</li>
      <li> Hair Color: Black</li>
      <li> Favorite Color: Purple</li>
  </p>
  
</div>


<div id="Alice" class="tabcontent">
  <h1>Alice</h1>
  <img src="C_image/Alice.png" alt="Alice" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Alice is depicted as a daydreamer first and foremost but she is a young, pretty girl who has big blue eyes, fair skin, and blonde, thick, medium-length hair is held back by a black ribbon tied in a bow. She is also intelligent, polite, honest, and articulate, and  very adventurous, idealistic and curious.
      <li> Hight/cm: 155cm~157cm</li>
      <li> Zodiac Signs: Taurus</li>
      <li> Eyes Color: Bule</li>
      <li> Hair Color: Blond</li>
      <li> Favorite Color: Bule</li>
  </p>
</div>

<div id="Anna" class="tabcontent">
  <h1>Anna</h1>
  <img src="C_image/Anna.png" alt="Anna" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Anna is goofy, optimistic, loyal, and a hopeless romantic. Anna might not have the elegance of royalty, but she has the pure and loving heart of a true princess. 
      <li> Hight/cm: 159cm~165cm</li>
      <li> Zodiac Signs: Cancer</li>
      <li> Eyes Color: Green</li>
      <li> Hair Color: Brown</li>
      <li> Favorite Color: Red Wine</li>
  </p>
</div>


<div id="Ariel" class="tabcontent">
  <h1>Ariel</h1>
  <img src="C_image/Ariel.png" alt="Ariel" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Ariel is the seventh-born daughter of King Triton and Queen Athena of an underwater kingdom of merfolk called Atlantica. Always curious, spunky, and strong-willed. Once Ariel decides she wants something, she's determined to get it, no matter what her father may say. But for all her teenage rebellion, Ariel has a good heart.
    <li> Hight/cm: 157cm~165cm</li>
    <li> Zodiac Signs: Pisces</li>
    <li> Eyes Color: Green</li>
    <li> Hair Color: Red</li>
    <li> Favorite Color: Pink</li>
  </p>
</div>

<div id="Aurora" class="tabcontent">
  <h1>Aurora</h1>
  <img src="C_image/Aurora.png" alt="Aurora" width="150" height="280" align= "right" style="margin-top:0px">
  <p>Aurora is kind, soft-spoken, and brave. Though she has the normal insecurities of a 15-year-old, Aurora is both courageous and empathetic.  
      <li> Hight/cm: 160cm~162cm</li>
      <li> Zodiac Signs: Gemini</li>
      <li> Eyes Color: Purple</li>
      <li> Hair Color: Blond</li>
      <li> Favorite Color: Pink</li>
  </p>
</div>

<div id="Beast" class="tabcontent">
  <h1>Beast</h1>
  <img src="C_image/Beast.png" alt="Beast" width="150" height="250" align= "right" style="margin-top:0px">
  <p>Beast selfish, gruff and, well, beastly. The years of isolation and despair have done nothing to improve the Beast’s already substantial temper. Fortunately, Belle’s spirit and sweet nature might just assuage his bestial inclinations. 
      <li> Hight/cm: 185cm~188cm</li>
      <li> Zodiac Signs: Leo</li>
      <li> Eyes Color: Bule</li>
      <li> Hair Color: Brown</li>
      <li> Favorite Color: Deep Bule</li>
  </p>
</div>

<div id="Belle" class="tabcontent">
  <h1>Belle</h1>
  <img src="C_image/Belle.png" alt="Belle" width="160" height="300" align= "right" style="margin-top:0px">
  <p>Belle spirited, eccentric, and kind. Belle’s fellow townsfolk think she’s a bit odd because she is always daydreaming with her nose stuck in a book. Belle doesn’t care what the others think of her, though – she’s happy as long as there is the prospect of adventure and a good book nearby.
      <li> Hight/cm: 160cm~162cm</li>
      <li> Zodiac Signs: Leo</li>
      <li> Eyes Color: Brown</li>
      <li> Hair Color: Brown</li>
      <li> Favorite Color: Yellow</li>
  </p>
</div>

<div id="Cinderella" class="tabcontent">
  <h1>Cinderella</h1>
  <img src="C_image/Cinderella.png" alt="Cinderella" width="150" height="250" align= "right" style="margin-top:0px">
  <p>Cinderella gentle, forgiving, and cheerful. Cinderella always commits herself to looking on the bright side of things. She’s giving to a fault and very polite, both qualities which tend to abused by her stepfamily. 
      <li> Hight/cm: 158cm~162cm</li>
      <li> Zodiac Signs: Libra</li>
      <li> Eyes Color: Bule</li>
      <li> Hair Color: Blond</li>
      <li> Favorite Color: Bright Bule</li>
  </p>
</div>


<div id="Elsa" class="tabcontent">
  <h1>Elsa</h1>
  <img src="C_image/Elsa.png" alt="Elsa" width="200" height="250" align= "right" style="margin-top:0px">
  <p>Elsa always poised and dutiful yet moody and somewhat insecure. As the future queen, Elsa was raised to think of others first, especially after her powers proved to be potentially harmful. Without being comfortable to show her emotions, she bottled up her anger and insecurities.  
     <li> Hight/cm: 168cm~172cm</li>
      <li> Zodiac Signs: Capricorn</li>
      <li> Eyes Color: Bule</li>
      <li> Hair Color: Blond</li>
      <li> Favorite Color: Sky Bule</li>
     </p> 
</div>

<div id="Eric" class="tabcontent">
  <h1>Eric</h1>
  <img src="C_image/Eric.png" alt="Eric" width="180" height="280" align= "right" style="margin-top:0px">
  <p>Eric is a hopeless romantic and appears to be quite dreamy, believing his true love certainly exists.
      <li> Hight/cm: 178cm~182cm</li>
      <li> Zodiac Signs: Taurus</li>
      <li> Eyes Color: Black</li>
      <li> Hair Color: Black</li>
      <li> Favorite Color: White</li>
  </p>
</div>

<div id="Flynn Rider" class="tabcontent">
  <h1>Flynn Rider</h1>
  <img src="C_image/Flynn Rider.png" alt="Flynn Rider" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Flynn Rider charming, daring, and confident. Flynn is the definition of dashing, and he knows it. He can sometimes be a bit arrogant, but beneath it all he has a sensitive heart.
      <li> Hight/cm: 177cm~180cm</li>
      <li> Zodiac Signs: Scorpio</li>
      <li> Eyes Color: Brown</li>
      <li> Hair Color: Brown</li>
      <li> Favorite Color: Deep Bule</li>
  </p>
</div>

<div id="Hercules" class="tabcontent">
  <h1>Hercules</h1>
  <img src="C_image/Hercules.png" alt="Hercules" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Hercules earnest, idealistic, and kind. Despite his super-strength, Hercules has never been boastful or arrogan.
    <li> Hight/cm: 172cm~175cm</li>
    <li> Zodiac Signs: Leo</li>
    <li> Eyes Color: Bule</li>
    <li> Hair Color: Brown</li>
    <li> Favorite Color: Brown</li>
  </p>
</div>

<div id="Jasmine" class="tabcontent">
  <h1>Jasmine</h1>
  <img src="C_image/Jasmine.png" alt="Jasmine" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Jasmine strong, smart, and rebellious. Jasmine might be sheltered, but she's also tough, standing up to her father in order to marry who she wants. 
    <li> Hight/cm: 162cm~165cm</li>
    <li> Zodiac Signs: Sagittarius</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Tiffany Blue</li>
  </p>
</div>

<div id="Kristoff" class="tabcontent">
  <h1>Kristoff</h1>
  <img src="C_image/Kristoff.png" alt="Kristoff" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Kristoff is gruff but loyal loner. Kristoff grew up with almost no human contact, and he sees no reason to change that. But though his aloofness can make him seem grumpy, he does care deeply about those he loves. 
    <li> Hight/cm: 178cm~182cm</li>
    <li> Zodiac Signs: Aquarius</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Brown</li>
    <li> Favorite Color: Deep Gray</li>
  </p>
</div>

<div id="Li Shang" class="tabcontent">
  <h1>Li Shang</h1>
  <img src="C_image/Li Shang.png" alt="Li Shang" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Li Shang thoughtful, serious, and commanding. Despite his misgivings, Shang is a good leader, and he quickly earns the respect of his men. 
    <li> Hight/cm: 180cm~172cm</li>
    <li> Zodiac Signs: Capricorn</li>
    <li> Eyes Color: Black</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Red</li>
  </p>
</div>

<div id="Merida" class="tabcontent">
  <h1>Merida</h1>
  <img src="C_image/Merida.png" alt="Merida" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Merida feisty, independent, and forceful. Merida has no desire to marry anyone; instead, she just wants to have control of her own destiny
    <li> Hight/cm: 160cm~162cm</li>
    <li> Zodiac Signs: Taurus</li>
    <li> Eyes Color: Blue Green</li>
    <li> Hair Color: Brown</li>
    <li> Favorite Color: Oragne</li>
  </p>
</div>

<div id="Moana" class="tabcontent">
  <h1>Moana</h1>
  <img src="C_image/Moana.png" alt="Moana" width="100" height="250" align= "right" style="margin-top:0px">
  <p>Moana brave, intelligent, responsible, and kind. Although Moana has a playful zest for life, she takes her responsibilities very seriously. She’s willing to put aside her personal dreams in order to lead her people. But when it becomes clear that the only way to help them is to undertake a dangerous journey, Moana bravely sets out to achieve the seemingly impossible. Although she sometimes feels awkward or unsure, Moana never lets her uncertainties hold her back.
    <li> Hight/cm: 160cm~162cm</li>
    <li> Zodiac Signs: Aquarius</li>
    <li> Eyes Color: Brown Blond</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Oragne</li>
  </p>
</div>


<div id="Mulan" class="tabcontent">
  <h1>Mulan</h1>
  <img src="C_image/Mulan.png" alt="Mulan" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Mulan driven, intelligent, stubborn, and courageous. Though clumsy and awkward at first, Mulan proves to be an invaluable asset in battle because she is smart and unafraid to risk her life to protect China and her family. Mulan is loyal to her new friends, and they all help one another along the way.
    <li> Hight/cm: 155cm~157cm</li>
    <li> Zodiac Signs: Aries</li>
    <li> Eyes Color: Black</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Red</li>
  </p>
</div>

<div id="Perter Pan" class="tabcontent">
  <h1>Perter Pan</h1>
  <img src="C_image/Perter Pan.png" alt="Perter Pan" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Perter Pan the boy who never grows up. Like Tinker Bell, Peter can be very hot-headed. He is also commanding, but very brave. Peter can be quite mean at times (for instance, laughing at Wendy as the mermaids nastily tease her). Despite this, he is caring, especially when it comes to Tinker Bell's safety.
    <li> Hight/cm: 170cm~172cm</li>
    <li> Zodiac Signs: Gemini</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Brown</li>
    <li> Favorite Color: Green</li>
  </p>
</div>

<div id="Prince Charming" class="tabcontent">
  <h1>Prince Charming</h1>
  <img src="C_image/Prince Charming.png" alt="Prince Charming" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Prince Charming has a structural and muscular body with broad shoulders. He has fair skin, dark brown hair, and brown eyes. His outfit consists of a cream royal jacket, red pants with a gold stripe, golden belt, black boots, and opera gloves.
    <li> Hight/cm: 178cm~182cm</li>
    <li> Zodiac Signs: Virgo</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: White</li>
  </p>
</div>

<div id="Pocahontas" class="tabcontent">
  <h1>Pocahontas</h1>
  <img src="C_image/Pocahontas.png" alt="Pocahontas" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Pocahontas spirited, adventurous, and caring. Pocahontas might be young and inexperienced, but her youth also brings her kindness. As she says, "I find joy in all I see.”
    <li> Hight/cm: 170cm~172cm</li>
    <li> Zodiac Signs: Capricorn</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Creamy White/Beige</li>
  </p>
</div>

<div id="Rapunzel" class="tabcontent">
  <h1>Rapunzel</h1>
  <img src="C_image/Rapunzel.png" alt="Rapunzel" width="150" height="250" align= "right" style="margin-top:0px">
  <p>Rapunzel brave, clever, and upbeat. Rapunzel refuses to let her fears hold her back, and she is constantly moving forward. She’s sweet and makes friends wherever she goes – even Flynn can’t help being charmed by her, though he tries not to let it show.
    <li> Hight/cm: 160cm~162cm</li>
    <li> Zodiac Signs: Cancer</li>
    <li> Eyes Color: Green</li>
    <li> Hair Color: Blond</li>
    <li> Favorite Color: Bright Purple</li>
  </p>
</div>

<div id="Raya" class="tabcontent">
  <h1>Raya</h1>
  <img src="C_image/Raya.png" alt="Raya" width="150" height="280" align= "right" style="margin-top:0px">
  <p>Raya is a headstrong young woman who is mature and wisened for someone her age. She is a very capable person and is shown to easily adapt to situations around her. Despite her maturity, she retains a sense of humor and occasionally shows a bit of playfulness when such a moment presents itself. She deeply cares for her father and has a strong emotional attachment to certain people she considers her friends. Her biggest flaw is her inability to trust others.
    <li> Hight/cm: 168cm~170cm</li>
    <li> Zodiac Signs: Scorpio</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Red/Bule</li>
  </p>
</div>

<div id="Snow White" class="tabcontent">
  <h1>Snow White</h1>
  <img src="C_image/Snow White.png" alt="Snow White" width="120" height="250" align= "right" style="margin-top:0px">
  <p>Snow White is well known for her kindness and optimism — both of which act as her greatest strengths, as they've guided her safely through the various hardships faced throughout her life. She is quick to charm, winning the trust and admiration of the Prince, forest animals, and the Seven Dwarfs rather quickly, proving her kindness and pleasant aura makes her a beloved figure.  
    <li> Hight/cm: 162cm~165cm</li>
    <li> Zodiac Signs: Virgo</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Red</li>
  </p>
</div>

<div id="Tiana" class="tabcontent">
  <h1>Tiana</h1>
  <img src="C_image/Tiana.png" alt="Tiana" width="150" height="250" align= "right" style="margin-top:0px">
  <p>Tiana motivated, diligent, and practical. But most admirably, Tiana’s also open to change. She’s not looking for love, but when she accidentally finds it in Prince Neven, she’s willing to risk everything to keep it. Because success is nothing without friends and family to share it with.
    <li> Hight/cm: 162cm~165cm</li>
    <li> Zodiac Signs: Scorpio</li>
    <li> Eyes Color: Brown</li>
    <li> Hair Color: Black</li>
    <li> Favorite Color: Bright Green</li>
  </p>
</div>

<br>
<div>
  <ul class="below">
      <li class="button"><a href="https://www.disney.com/" target="_blank">Disney World</a></li>
      <li class="button">Connect us</li>
      </ul>
  </div>
  



</body>
</html> 
{% endblock %}

<style>
    *{
    /* border: solid 1px; */
    font-family: cursive;
    position: relative;
    color: rgb(0, 0, 0)}
    html,body{
        width:100%; height: 100%;
        padding: 0px; margin: 0px;}
    body
        {
        background-image: url("Backgroung/KM.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        border-top: solid 20px #f24;
        border-bottom: solid 20px #f24;

        box-sizing: border-box;
        overflow: auto;}

    .top{
    margin-top: 15px;
    margin-left: 10px;
    margin-right:10px; 
    display: inline-block;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(245, 196, 242, 0.6);
    border-radius: 10px;
    border-bottom: solid 6px rgb(240, 159, 233);
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing:1px;}
    
    .top:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(49, 47, 49, 0.6);
    }
    .top:active {
        color: rgb(255, 255, 255);
        background-color: rgba(224, 16, 197, 0.952);
    }



    /* Style the tab */
    .tab {
      float: left;
      border: 0px solid rgb(255, 239, 239);
      background-color: rgb(245, 196, 242, 0.6);
      width: 15%;
      height: 400px;
      overflow: auto;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: rgb(255, 100, 255);
    }
    
    /* Create an active/current "tab button" class */
    .tab button.active {
      background-color: rgb(255, 100, 255);
    }
    
    /* Style the tab content */
    .tabcontent {
      float: left;
      padding: 0px 12px;
      border: 0px solid rgb(255, 239, 239);
      width: 70%;
      border-left: none;
      height: 400px;
    }


    .below{
        position: fixed; bottom: 20px;
    }
    .button{
        text-align: center;
        display: inline-block;
        /* border: solid 1px black; */
        width: 100px;
        height:20px;
        border-radius:5px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;}


</style>


<script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>