
{% block content %}
<video controls unmuted id="myVideo">
    <source src="Backgroung/Disney_intro.mp4" type="video/mp4">
    <source src="Backgroung/Disney_intro.ogg" type="video/ogg">
  </video>

    <ul class="ontop">
        <li class="top"><a href="/Disney">Home Page</a></li>
        <li class="top"><a href="/Character_Test">Character Test</a></li>
        <li class="top"><a href="/image_check">Image check</a></li>
        <li class="top"><a href="/Disney_search">Disney Search</a></li>
        <li class="top"><a href="/paintingroom">Color Magic</a></li>
        <li class="top">Pulzze game</li>
    </ul>
    {% endblock %}

<div>
    <ul class="below">
        <li class="button"><a href="https://www.disney.com/" target="_blank">Disney World</a></li>
        <li class="button">Connect us</li>
        </ul>
</div>


<style>
    *{
    /* border: solid 1px; */
    font-family: cursive;
    position: relative;
    color: rgb(255, 255, 255)}  

    video{
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }   
    html,body{
        width:100%; height: 100%;
        padding: 0px; margin: 0px;}

    body
        {
        box-sizing: border-box;
        overflow : hidden;}
    


    .top{
    margin-top: 15px;
    margin-left: 10px;
    margin-right:10px; 
    display: inline-block;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(245, 196, 242, 0.6);
    border-radius: 10px;
    border-bottom: solid 6px rgb(240, 159, 233);
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing:1px;}
    
    .top:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(49, 47, 49, 0.6);
    }
    .top:active {
        color: rgb(255, 255, 255);
        background-color: rgba(224, 16, 197, 0.952);
    }


    .below{
        position: fixed; bottom: 20px;
    }
    .button{
        text-align: center;
        display: inline-block;
        /* border: solid 1px black; */
        width: 100px;
        height:20px;
        border-radius:5px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;}



</style>
